         body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }

        .calculator {
            width: 300px;
            height: 400px;
            border: 2px solid #ccc;
            border-radius: 20px;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #fff;
        }

        .display {
            width: calc(100% - 20px);
            height: 80px;
            margin: 0 auto;
            padding: 10px;
            font-size: 20px;
            border: 2px solid #ccc;
            border-radius: 20px;
            background-color: #f0f0f0;
            text-align: right;
            overflow: auto;

        }

        .display:hover{
            background-color: blue;
        }

        .buttons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 5px;
            
        }

        button {
            padding: 15px;
            font-size: 18px;
            border: none;
            border-radius: 20px;
            background-color: #f0f0f0;
            cursor: pointer;
        }

        button:hover {
            background-color: #745b5b;
        }
   