body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s;
    padding-bottom: 60px; /* Add padding at the bottom */
}

header {
    background-color: #b700ff;
    padding: 20px;
    text-align: center;
    color: white;
    border-bottom: 4px solid #000;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    text-transform: uppercase;
    cursor: pointer;
}

section {
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    width: 90%;
    max-width: 1000px;
    background-color: wheat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
}

section#contact {
    padding-bottom: 60px; /* Adjust the padding so the section is not overlapped */
}


h2 {
    color: #b700ff;
    font-size: 1.8em;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    list-style-type: none; padding: 0;
}

li {
    margin: 10px 0;
    font-size: 1.1em;
}

a {
    color: #0073e6;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #b700ff;
}

.social-media {
    display: flex;
    justify-content: space-evenly; /* Distributes icons evenly with equal space between them */
    margin-top: 15px;
    width: 100%; /* Adjust the width for better distribution */
    margin-left: auto;
    margin-right: auto; /* Center align the icons */
    margin: 0 20px; /* Spacing between icons */
    font-size: 3em; /* Increase font size */
    color: #0000ff; /* Icon color (blue) */
    transition: color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
}

.social-media a:hover {
    color: #b700ff; /* Highlight color on hover */
    transform: scale(1.2); /* Slightly enlarge on hover */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2a0845; /* wheat */
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.toggle-btn {
    background-color: #b700ff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 20px;
    font-size: 1.2em;
    border-radius: 5px;
}

.toggle-btn:hover {
    color:blue;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode header {
    background-color: #444;
}

.dark-mode footer {
    background-color: #444;
}

.progress-bar {
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px 0;
    width: 80%; /* Ensure it takes up full width */
}

.progress-bar > div {
    height: 100%;
    background-color: #b700ff;
    width: 0%;
    border-radius: 10px;
    transition: width 1s;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }

    section {
        padding: 15px;
        width: 95%;
    }
}
